<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

  <title>Farmbot Control Panel</title>

  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/jumbotron-narrow.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/design.css') }}" rel="stylesheet">

</head>

<body>

  <div class="container-fliud">
    <div class="header">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation" class="active"><a href="/">Back</a></li>
          <!--<li role="presentation" class="active"><a href="/plantar">Refresh</a></li>
          <li role="presentation"><a href="/about">About</a></li>-->
        </ul>
      </nav>
      <h3 class="text-muted">Seedbot</h3>
    </div>

    <div class="jumbotron">
      <h2>Seleccion de semilas</h2>
    </div>
	
	<div class="row marketing align-items-center">
		<div class="col-xs offset-xs" id="row1">
			<p>
			<a href="/grid" id="p1" class="btn btn-lg btn-warning">Garbanzo</a>
			<a href="/grid" id="r1" class="btn btn-lg btn-primary">Cebolla</a>
			<a href="/grid" id="i1" class="btn btn-lg btn-success">Chile</a>
            </p>
		</div>
    </div>
	
    <footer class="footer">
      <p>&copy; IM9-1 UPV</p>
    </footer>

  </div>
  <!-- /container -->
  <script src="{{ url_for('static', filename='js/jquery-2.2.2.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/demo_0.js') }}"></script>
</body>

</html>
